{% extends 'base.html' %}

{% block title %}Interact{% endblock %}

{% block content %}

<form method="post">
    <label 
    {% for param in options %}
        <label for="{{ param.name }}">{{ param.label }}</label><br>

        {% if param.type in ['text', 'number'] %}
            <input 
                type="{{ param.type }}" 
                name="{{ param.name }}" 
                id="{{ param.name }}" 
                value="{{ param.default | default('') }}"><br><br>

        {% elif param.type == 'yesno' %}
            <input type="radio" 
                   name="{{ param.name }}" 
                   value="yes"
                   {% if param.default == 'yes' %}checked{% endif %}> Yes

            <input type="radio" 
                   name="{{ param.name }}" 
                   value="no"
                   {% if param.default == 'no' %}checked{% endif %}> No
            <br><br>
        {% endif %}
    {% endfor %}
    <button type="submit">Submit</button>
</form>

{% endblock %}